<% provide(:title, 'Home') %>
<% if logged_in? %>
    <div class="mt-4">
        <div class="row">
            <aside class="col-3">
                <section>
                    <%= render 'shared/user_info' %>
                    <span>
                        <%= link_to "view my profile", current_user, class: "text-center" %>
                    </span>
                </section>
                <section>
                    <%= render 'shared/stats' %>
                </section>
                <section>
                    <%= render 'shared/micropost_form' %>
                </section>
            </aside>
            <!-- Microposts here -->
            <div class="col-9">
                <h3>Micropost Feed</h3>
                <%= render 'shared/feed' %>
            </div>
        </div>
    </div>
<% else %>
    <div class="jumbotron bg-dark text-light">
        <h1 class="text-center display-2"><strong>Awesome Blog</strong></h1>
        <p class="text-center display-4">Welcome to my blog!</p>
        <img src="assets/magikarp.gif" class="homepage-img rounded mx-auto d-block">
    </div>
<% end %>


