<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <%= link_to "AwesomeBlog", "#", class:"navbar-brand brand", id: "logo" %>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <%= link_to "Home", root_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "About", about_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Contact us", contact_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Signup", signup_path, class: "nav-link" %>
            </li>
        </ul>
    </div>
</nav>